 <h1 class='body'>Hello world</h1>
<style>
  body { 
    background-color: black;                       /*add color to background and color to all h1*/
    color: green;
    font-family: monospace;
  }
</style>
