<style>
.pink-text{               /*create a new class pink-text*/
  color: pink;
}

  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
</style>
<h1 class="pink-text">Hello World!</h1>      /* call the class pink-text on h1 element*/
